{{- $isWSL := false -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   if contains "microsoft" (lower .chezmoi.kernel.osrelease) -}}
{{-     $isWSL = true -}}
{{-   end -}}
{{- end -}}
sourceDir = {{ .chezmoi.workingTree | quote }}

[data]
    isWSL = {{ $isWSL }}
